{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="index-home" class="container h-90">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h2 class="display-4 logo-font text-white">
            </h2>
        </div>
    </div>
</div>

<main>
    <div class="position-relative overflow-hidden m-0 image-headline p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h3 class="text-white">New Omega Seamaster Diver 300m Black Black</h3>
            <p class="lead fw-normal text-white">A coin-toss is what put this one in over Omega’s classic Speedmaster
                Dark Side of the Moon (the lumed one, not the true black on black one)</p>
            <a class="btn btn-outline-secondary text-white" href="{% url 'products' %}">Coming soon</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="position-relative overflow-hidden rolex-collections m-0 p-3 p-md-5 m-md-3 text-center bg-light">
        <h2 class="text-center text-black text-uppercase">Meet our new Rolex Collection</h2>
        <div class="my-5">
            <div class="container">
                <div class="row">
                    {% for product in homeProducts %}
                        <div class="col-lg-4">
                            <img src="{{ product.image.url }}" class="rounded-circle img-promotion">
                            <h2>Rolex Daytona</h2>
                            <p>Introduced in 1963, the Cosmograph Daytona was designed to meet the demands of professional racing drivers. It is an icon forever joined in name and function to the high-performance world of motor sport.</p>
                            <p><a class="btn btn-black" href="{% url 'product_detail' 2 %}">View details &raquo;</a></p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="/media/rolex_skydweller.jpeg" class="rounded-circle img-promotion">
                            <h2>Rolex Sky-Dweller</h2>
                            <p>Rolex presents an 18 ct yellow gold version of its Oyster Perpetual Sky-Dweller, fitted with an Oysterflex bracelet. The watch is the first in the Classic category to include this innovative bracelet made of high-performance elastomer.</p>
                            <p><a class="btn btn-black" href="{% url 'product_detail' 3 %}">View details &raquo;</a></p>
                        </div>
                        <div class="col-lg-4">
                            <img src="/media/rolex_gmtmasterpepsi.jpeg" class="rounded-circle img-promotion">
                            <h2>Rolex GMT</h2>
                            <p>Designed to show the time in two different time zones simultaneously, the GMT-Master, launched in 1955, was originally developed as a navigation instrument for professionals criss-crossing the globe.</p>
                            <p><a class="btn btn-black" href="{% url 'product_detail' 1 %}">View details &raquo;</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



</main>




{% endblock %}