@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* Default */

html {
    height: 100%;
}

body {
	background: url('/media/img2.jpeg') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 164px);
    font-family: "Lato";
    font-family: 'Roboto', sans-serif;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #000;
    z-index: -1;
    color:#fff;
}

.my-4 {
    margin-top: 0;
}

/* logo css */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* buttons */
.shop-now-button {
    background: #000;
    color: #fff;
    min-width: 260px;
}

.btn-outline-black {
    background: #fff;
    color: #000 !important;
    border: 1px solid #000;
}

.btn-outline-black:hover {
    background: #000;
    color: #fff !important;
    border: 1px solid #fff;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #000;
    color: #fff !important;
    border: 1px solid #fff; 
}

.button-guide {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

.button-guide:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

.btn-black {
    background: #000;
    color: #fff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #000;
    color: #fff;
}

.btn-white {
    background-color: #fff;
}

.text-black {
    color: #000 !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
    margin-top: 40px;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #000;
    position: absolute;
    top: -10px;
    right: 36px;
}
/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}
.arrow-secondary {
    border-bottom-color: #6c757d !important;
}
.arrow-success {
    border-bottom-color: #28a745 !important;
}
.arrow-danger {
    border-bottom-color: #dc3545 !important;
}
.arrow-warning {
    border-bottom-color: #ffc107 !important;
}
.arrow-info {
    border-bottom-color: #17a2b8 !important;
}
.arrow-light {
    border-bottom-color: #f8f9fa !important;
}
.arrow-dark {
    border-bottom-color: #343a40 !important;
}
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.border-black {
    border: 1px solid #000 !important;
}

.bg-black {
    background: #000 !important;
}

.navbar-toggler {
    border: 2px solid white;
}

.nav-item:hover {
    color: #000 !important;
    border-top: 1px solid #fff;
}

/* FAQ */
.accordion .btn-link {
    color: #000;
    text-decoration: none;
    list-style: none;
}

.accordion .card-body {
    background: #000;
    color: #fff;
}


/* FAQ */
.img-feat {
    width: 300px;
    height: 300px;
}

.image-headline  {
    background: url('/media/omega3_watch.jpeg') no-repeat center center fixed;
	background-size: cover;
}

.img-promotion {
    width: 140px;
    height: 140px;
}

/* Products */
.fa-star {
    color: #ffc107;
}

.rolex-collections {
    margin-top: 0;
}

.dropdown-menu {
    border: 1px solid #fff !important;
}

.dropdown-item:hover {
    color:#000 !important;
}

span .adjust-bag-hover:hover {
    background-color: #fff;
    color: #000; 
}

.update-link {
    margin-right: 15px;
}
.update-link, .remove-item {
    cursor: pointer;
}

/* Allauth templates */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']){
    display: none;

}

.allauth-form-inner-content input::placeholder {
    color:#6c757d;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    border-color: #222;
}


input[name='q']::placeholder {
    color: #aab7c4;
}

.top-table-header {
    margin-top: 20px;
}

.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

a.category-badge > span.badge:hover {
    background-color: #fff !important;
    color: #000 !important;
}

/* Footer */
.panel-footer {
    align-items: center;
}

.footer-nav-item .nav-link:hover {
    border-bottom: 1px solid #fff;
}

/* --------------------------------- Media queries */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }

    .container {
        max-width: 80%;
    }

}
@media (max-width: 991px) {
    .header-container{
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }
}
@media (min-width: 768px) {
    .m-md-3 {
        margin: 0 !important;
    }  
    
    .h-90 {
        height: 70%;
    }
}
@media (max-width: 420px) {
    ul {
        font-size: 15px;
        padding: 10px 0 0 0;
    }
    .navbar-toggler {
        font-size: 10px;
    }

    .logo-h2 {
        margin-top: 25px;
    }
    .h-90 {
        height: 50%;
    }

   
}

@media (max-width: 320px) {
    ul {
        font-size: 10px;
        padding: 10px 0 0 0;
    }
    .navbar-toggler {
        font-size: 18px;
    }

    h5 > .logo-font {
        font-size: 10px;
    }
}