{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-white box-blog">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic text-white">FlyWatch Blog a quick view.</h1>
      <p class="lead my-3 text-white">Multiple lines of text that form the lede, informing new readers quickly and
        efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="{% url 'add_blog' %}"
          class="btn btn-outline-black rounded-2 text-uppercase title-blog">Continue reading...</a></p>
    </div>
  </div>
</div>
<div class="container bg-light">
  <div class="row">
    {% for post in posts %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-2 mt-2 ">
      <div class="card h-100 border-0">
        <a href="">
          <img class="card-img-top img-fluid" src="" alt="{{ post.name }}">
        </a>
        <div class="card-body pb-0">
          <p class="mb-0">{{ post.title }}</p>
        </div>
        {% if request.user.is_superuser %}
        <small class="ml-3"> |
          <a class="text-danger" href="{% url 'delete_blog' post.id %}">Delete</a>
        </small>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block postloadjs %}

{% endblock %}