{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-white box-blog">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic text-white">FlyWatch Blog a quick view.</h1>
      <p class="lead my-3 text-white">FlyWatch gives you masterpieces that are meant to inspire and remind you every day
        of the lifestyle you aspire to live. A masterpiece constructed to represent the hero’s journey, your journey; a
        masterpiece that signifies your legacy.</p>
      <p class="lead mb-0"><a href="{% url 'products' %}"
          class="btn btn-outline-black rounded-2 text-uppercase title-blog">Shop with us</a></p>
    </div>
  </div>
</div>
{% if request.user.is_superuser %}
<div class="container">
  <a href="{% url 'add_blog' %}" class="btn btn-outline-black rounded-2 text-uppercase mb-2">Add a Post</a>
{% endif %}
</div>
<div class="container bg-light">
  <div class="row">
    {% for post in posts %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-2 mt-2 ">
      <div class="card h-100 border-0">
        <a href="{% url 'blog_ind' post.id %}">
          {% if post.image %}
          <img src="{{ post.image.url }}" class="card-img-top img-fluid post-image" alt="{{ post.title }}">
          {% else %}
          <img src="{{ MEDIA_URL }}no_image.png" class="card-img-top img-fluid post-image" alt="{{ post.title }}">
          {% endif %}
        </a>

        <div class="card-body pb-0">
          <a href="{% url 'blog_ind' post.id %}" class="text-small title-blog">{{ post.title }}</a>
          <p class="mb-0 text-small">{{ post.preview }}</p>
          <a href="{% url 'blog_ind' post.id %}" class="btn btn-blog-link rounded-2 text-uppercase mt-2 mb-2">Read More</a>
        </div>
        {% if request.user.is_superuser %}
        <small class="ml-3">
          <a href="{% url 'edit_blog' post.id %}">Edit</a> |
          <a class="text-danger" href="{% url 'delete_blog' post.id %}">Delete</a>
        </small>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container text-white mt-4">
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Watch Club
      </h3>

      <article class="blog-post">
        {% for post in posts %}
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">{{ post.post_date }} by {{ post.author }}</p>

        <p>{{ post.preview }} </p>
        <hr>
        {% endfor %}
      </article>
    </div>
  </div>
</div>
{% endblock %}
{% block postloadjs %}

{% endblock %}